<!DOCTYPE HTML>

<html>
	<head>
		<title>Flask Template</title>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">

	</head>
	<body>
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/Consoles">Consoles</a>
        <a class="nav-link" href="/Games">Games</a>
         <a class="nav-link" href="/Contact">Contac Us</a>
  </div>
</nav>
      
    <h1 class="display-1"> Contact us now </h1>
       <p>Add info such email , phone , insta , fb with icons </p>

       <p> also tell something about your company </p>

  
	</body>



</html>